Source: espsfree-signal
Maintainer: Ronald L. Sprouse <ronald@berkeley.edu>
Priority: optional
# libatlas-dev is required only for rformant
Build-Depends: debhelper (>= 9), build-essential, libatlas-dev, espsfree-dev, espsfree-lib


Package: espsfree-signal
Architecture: any
Depends: ${shlib:Depends}, ${misc:Depends}, espsfree-lib
Description: ESPS signal processing and speech analysis commands.
