Source: espsfree-lib
Maintainer: Ronald L. Sprouse <ronald@berkeley.edu>
Priority: optional
Build-Depends: debhelper (>= 9), build-essential, byacc, flex


Package: espsfree-lib
Architecture: any
Depends: ${shlib:Depends}, ${misc:Depends}
Description: Header files needed to compile espsfree-lib package.
