Source: espsfree-util
Maintainer: Ronald L. Sprouse <ronald@berkeley.edu>
Priority: optional
Build-Depends: debhelper (>= 9), build-essential, espsfree-dev, espsfree-lib


Package: espsfree-util
Architecture: any
Depends: ${shlib:Depends}, ${misc:Depends}, espsfree-lib
Description: Utility commands for ESPS.
